#fullLogin{
  border: 5px solid white;
  padding: 20px;
  text-align: center;
  font-weight: 700;
  width: 60%;
  margin: auto;
  background-color: rgb(0, 148, 148);
  box-shadow: 5px 5px 3px black;
  margin-bottom: 20px;
}
#fullLogin #allfieldsTextLogIn{
  visibility: hidden;
  color: rgb(189, 0, 0);
  font-weight: 700;
}
#fullLogin #errorMsg{
  color: red;
  font-size: 18px;
  font-weight: 700;
}
#loginBtn{
  background-color: rgb(0, 0, 146);
  color: white;
  font-weight: 700;
}
#loginBtn:hover{
  background-color: royalblue;
}

#fullLogin input{
  border: none;
  padding: 5px;
  margin: 3px;
  border-radius: 3px;
  width: 300px;
}

.backBtn{
  padding: 5px;
  font-size: large;
  font-weight: 700;
  border-radius: 3px;
  background-color: rgb(250, 73, 42);
}
.backBtn:hover{
  background-color: red;
  border: 2px solid black;
}

#backLink{
  width: max-content;
}

#responsiveLogin{
  display: none;
}

#logInForm{
  text-align: center;
}

@media only screen and (max-width: 770px) {
  #fullLogin{
    display: none;
  }
  #responsiveLogin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    font-size: larger;
    font-weight: 700;
  }
  #responsiveLogin form input{
    width: 100%;
    height: 50px;
    font-size: larger;
    margin-bottom: 10px;
  }

  #allfieldsTextLogIn_responsive{
    text-align: center;
    align-self: center;
    justify-self: center;
    color: red;
    visibility: hidden;
  }

  #errorMsg_responsive{
    color: red;
    text-align: center;
    align-self: center;
    justify-self: center;
  }

  #loginBtn_responsive{
    background-color: rgb(0, 0, 146);
    color: white;
    font-size: 32px;
    letter-spacing: 1.5;
    font-weight: 700;
  } 
}